@media (max-width: 1000px) {
    .home {
        margin-bottom: 60%;
    }

    .headerImgBox {
        width: 100%;
        margin-top: 0;
    }
}

/*=====================
BLOG
=======================*/
@media(max-width: 920px) {
    .blog {
        margin-bottom: 0;

        h1 {
            margin: 100px 0;
            text-align: center;
        }

    }

    .blogContainer {
        flex-direction: column-reverse;

        aside {
            margin: 0;

            .asideImage {
                margin: 50px auto;
                position: unset;
                width: 50%;
            }

            div:nth-of-type(2) {
                text-align: center;
            }

            .asideText {
                padding: 0;
                margin: 0 auto 20px;
                width: 80%;

                h2 {
                    text-align: center;
                }

                ul {
                    margin: 0 auto;
                    widtH: 40%;
                }
            }
        }
    }

    /*=====================
CONTACT
=======================*/

    .contactContainer {
        align-items: center;
        flex-direction: column-reverse;

        .contactInfoContainer {
            align-items: center;
            align-self: center;
            margin-top: 100px;
            text-align: center;
            width: 100%;

            .socialIcons{
                display: flex;
                justify-content: center;
                width: 50%;

                ul {
                    width: 100%;
                }
            } 
        }

        .contactForm {
            width: 90%;
        }
    }


}


@media (max-width: 800px) {

    /*=====================
NAV
=======================*/
    .desktopNav {
        display: none;
    }

    .flexContainer,
    .textContainer,
    .mobileNav,
    .rightTextContainer,
    .colouredBackground,
    .leftTextContainer,
    .textContent {
        align-items: center;
    }

    .mobileNav {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;

        .logo {
            font-size: 2.5rem;
        }

        .fas:hover,
        .fas:focus {
            color: $mainHeaderAndAccent;
        }

        .fas:hover ~ .mobileNavDropdown, .fas:focus ~ .mobileNavDropdown, .fas:focus-within ~ .mobileNavDropdown{
                height: min-content;
                width: 100px;
                opacity: 100;
        }

        .fas:hover .fas {
            content: "+";
        }
        .mobileNavDropdown:focus-within{
            height: min-content;
            width: 100px;
            opacity: 100;
    }
    }

    /*=====================
MAIN
=======================*/
    .textContainer {
        width: 100%;

        h2 {
            text-align: center;
        }
    }

    .flexContainer,
    .textContainer,
    .events,
    .galleryContainer {
        flex-direction: column;
    }


    .rightTextContainer,
    .leftTextContainer,
    .textContent,
    .centered,
    .imageRight,
    .imageLeft {
        width: 80%;
    }

    .rightTextContainer {
        align-self: unset;
    }


    .rightTextContainer,
    .leftTextContainer {
        margin: 50px 0;
    }

    .leftTextContainer {
        align-self: unset;
        text-align: left;
    }

    .imageRight {
        right: unset;
    }

    .imageLeft {
        margin-bottom: unset;
    }

    .events {
        width: 100%;
    }

    .galleryContainer img {
        width: 90%;
        margin: 30px auto;
    }

    .imageRight,
    .imageLeft {
        position: relative;
    }

    .smallLeftImage {
        width: 50%;
        margin: 100px auto;
    }

    .textContent {
        margin: 0 auto;
    }

    .centered {
        text-align: left;

        h2 {
            text-align: center;
        }
    }
}

@media (max-width: 500px) {
    .home {
        margin-bottom: 40%;

        h1 {
            font-size: 10rem;

            span {
                font-size: 3rem;
            }
        }
    }


    /*=====================
BLOG
=======================*/

    .blogContainer {

        aside {
            .asideText {
                ul {
                    width: 90%;
                }
            }
        }

        .rightContainer {
            .post {
                .postText {
                    padding: 20px;
                }
            }
        }


        .commentsContainer {
            .comment {
                flex-direction: column;

                .profileImage {
                    margin: 30px 0;
                    width: 30%;
                }

                .commentText {
                    margin: 0;
                }
            }

            .commentForm {
                .commentLabel {
                    top: 315px;
                }

                .inputContainer {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;

                    .inputSubContainer {
                        margin-top: 20px;
                        width: 100%;
                    }

                }
            }
        }

    }

    /*=====================
CONTACT
=======================*/
    .contact h1 {
        margin: 150px 0;
        font-size: 5rem;
        text-align: center;
    }

    .contactContainer {
        .contactForm {
            .contactInputContainer {
                flex-direction: column;

                div {
                    width: 100%;
                }
            }

            .messageLabel {
                top: 320px;
            }
        }
    }

}


@media (max-width: 400px) {
    .home {
        margin-bottom: 30%;

        h1 {
            font-size: 8rem;

            span {
                font-size: 2.5rem;
            }
        }
    }

    .colouredHeader {
        margin: 10px 0;
    }
}