@import 'setup';
/*=====================
END NORMALIZE
=======================*/
@import 'variables';

/*=====================
GLOBALS
=======================*/ 
html {
    font-size: 125%;
}

body {
    background: $backgroundPrimary;
}

.btn {
    background-color: $buttonIconColour;
    border: none;
    color: $mainFontColour;
    margin: 40px 0 50px;
    padding: 5px 35px;
}

.btn:hover,
.btn:focus {
    background-color: $mainHeaderAndAccent;
}

.home, .blog,.contact{
    min-height: 620px;
}

a {
    position: relative;
    text-decoration: none;
}

nav a::after,
aside a:after {
    border-bottom: 1px solid $mainHeaderAndAccent;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 40px;
    transition: width 0.5s;
    width: 0%;
}

a:hover::after,
a:focus::after {
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

.mainWrapper {
    margin: 0 auto;
    max-width: 1600px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*=====================
TYPOGRAPHY
=======================*/
body {
    color: $mainFontColour;
    font-family: 'Chathura', sans-serif;
}

.btn {
    font-size: 2.3rem;
    font-weight: normal;
}

label,
textarea,
input {
    color: $mainFontColour;
    font-size: 1.95rem;
    font-weight: normal;
    letter-spacing: 0.095rem;
 
}


h1,
.logo,
.btn {
    font-family: 'Tulpen One', cursive;
}


h1 {
    letter-spacing: 0.12rem;

    span {
        color: $mainFontColour;
        font-family: 'Chathura', sans-serif;
        font-size: 4.16rem;
        letter-spacing: 0.13rem;
        line-height: 4.735rem;
    }
}

.home h1 {
    color: $mainHeaderAndAccent;
    font-size: 13.07rem;
    font-weight: normal;
}


h2 {
    font-size: 3.6rem;
    line-height: 2.9rem;
    letter-spacing: 0.11rem;
    margin: 0;
}

.logo {
    font-size: 4rem;
    font-weight: normal;
    line-height: normal;
    margin: 0;
}

p,
.email a {
    font-size: 1.95rem;
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: 0.095rem;
    margin: 0;
}

.desktopNav li a, .mobileNavDropdown a {
    color: $mainFontColour;
    font-size: 1.9rem;
    line-height: 1.45rem;
    letter-spacing: 0.095rem;
    text-align: center;
}


/*=====================
FOOTER
=======================*/
footer {
    background-color: rgb(37, 37, 37);
    margin: 0;
    text-align: center;

    p {
        line-height: normal;
    }
}

/*=====================
BLOG PAGE
=======================*/
@import 'blog';
/*=====================
CONTACT PAGE
=======================*/
@import 'contact';
/*=====================
MAIN PAGE
=======================*/
@import 'mainPage';

/*=====================
MEDIA QUERIES
=======================*/
@import 'mediaQueries';  