@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*=====================
END NORMALIZE
=======================*/
/*=====================
GLOBALS
=======================*/
html {
  font-size: 125%;
}

body {
  background: #111010;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.mainWrapper {
  margin: 0 auto;
  max-width: 1600px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*=====================
TYPOGRAPHY
=======================*/
body {
  color: #ffffff;
  font-family: "Chathura", sans-serif;
}

.btn {
  font-size: 2.3rem;
  font-weight: normal;
}

h1,
.logo,
.btn {
  font-family: "Tulpen One", cursive;
}

h1 {
  letter-spacing: 0.12rem;
}
h1 span {
  color: #ffffff;
  font-family: "Chathura", sans-serif;
  font-size: 4.16rem;
  letter-spacing: 0.13rem;
  line-height: 4.735rem;
}

.home h1 {
  color: #ff8327;
  font-size: 13.07rem;
  font-weight: normal;
}

h2 {
  font-size: 3.6rem;
  line-height: 2.9rem;
  letter-spacing: 0.11rem;
  margin: 0;
}

.logo {
  font-size: 4rem;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

p {
  font-size: 1.95rem;
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
  margin: 0;
}

.desktopNav li a {
  color: #ffffff;
  font-size: 1.9rem;
  line-height: 1.45rem;
  letter-spacing: 0.095rem;
  text-align: center;
}

/*=====================
HEADER
=======================*/
.mobileNav {
  display: none;
}

.desktopNav li:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  width: 75%;
}

header {
  margin-bottom: 200px;
}

.home {
  background: url("./../assets/home-image-1.jpg") center;
  background-size: cover;
  height: 700px;
}
.home h1 {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 220px 0 0 0;
  z-index: 5;
}
.home h1 span {
  display: block;
  margin: -70px 6px;
}
.home li:nth-of-type(1) a {
  color: #ff8327;
}

.headerImgBox {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -270px;
}

.titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*=====================
Main
=======================*/
.btn {
  background-color: #bf2603;
  color: #ffffff;
  margin: 40px 0 50px;
  padding: 5px 35px;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto 100px;
  text-align: center;
  width: 70%;
}

.colouredHeader {
  color: #ff8327;
  margin: 30px;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px auto;
  width: 80%;
}

.textContainer .fas {
  background: #bf2603;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 20px 0 0;
  padding: 0.5rem;
  text-align: center;
  width: 30px;
}

.colouredBackground {
  background-color: #220303;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

.imageLeft,
.imageRight {
  position: absolute;
  width: 40%;
}

.imageLeft {
  margin-bottom: 75px;
  top: -30px;
}
.imageLeft img {
  -webkit-box-shadow: 25px 25px #ff8327;
          box-shadow: 25px 25px #ff8327;
}

.imageRight {
  bottom: -30px;
  right: 0;
}
.imageRight img {
  -webkit-box-shadow: -25px 25px #ff8327;
          box-shadow: -25px 25px #ff8327;
}

.rightTextContainer,
.leftTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
}

.leftTextContainer {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 115px 25px;
  text-align: end;
}

.rightTextContainer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 100px 115px 50px;
}

.textContainer {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  width: 50%;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px auto;
  width: 80%;
}

.smallLeftImage img {
  -webkit-box-shadow: -25px 25px #ff8327;
          box-shadow: -25px 25px #ff8327;
}

.textContent {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 95px;
  width: 65%;
}
.textContent h2 {
  margin: -15px 0 5px;
}

.gallery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px 0;
  width: 88%;
}
.galleryContainer img {
  width: 30%;
}

/*=====================
FOOTER
=======================*/
footer {
  background-color: #252525;
  margin: 0;
  text-align: center;
}
footer p {
  line-height: normal;
}

@media (max-width: 1000px) {
  .home {
    margin-bottom: 60%;
  }

  .headerImgBox {
    width: 100%;
    margin-top: 0;
  }
}
@media (max-width: 800px) {
  .desktopNav {
    display: none;
  }

  .mobileNav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mobileNav .logo {
    font-size: 2.5rem;
  }

  .textContainer {
    width: 100%;
  }
  .textContainer h2 {
    text-align: center;
  }

  .flexContainer, .textContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .rightTextContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: unset;
        align-self: unset;
  }

  .colouredBackground {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .rightTextContainer, .leftTextContainer {
    width: 80%;
    margin: 50px 0;
  }

  .leftTextContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: unset;
        align-self: unset;
    text-align: left;
  }

  .imageRight {
    right: unset;
  }

  .imageLeft {
    margin-bottom: unset;
  }

  .events {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galleryContainer img {
    width: 90%;
    margin: 30px auto;
  }

  .imageRight, .imageLeft {
    position: relative;
    width: 80%;
  }

  .smallLeftImage {
    width: 50%;
    margin: 100px auto;
  }

  .textContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 80%;
  }

  .centered {
    text-align: left;
    width: 80%;
  }
  .centered h2 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .home {
    margin-bottom: 40%;
  }
  .home h1 {
    font-size: 10rem;
  }
  .home h1 span {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .home {
    margin-bottom: 30%;
  }
  .home h1 {
    font-size: 8rem;
  }
  .home h1 span {
    font-size: 2.5rem;
  }
}