@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*=====================
END NORMALIZE
=======================*/
.blog {
  background: url(./../assets/blog-header-1.jpg) center;
  background-size: cover;
  height: 50vh;
  margin-bottom: -200px;
}
.blog h1 {
  font-family: "Chathura", sans-serif;
  font-size: 6.7rem;
  font-weight: normal;
  margin: 30px 0 0 70px;
}
.blog .desktopNav li:nth-of-type(4) a {
  color: #ff8327;
}

.blogContainer, aside, .post, .comment, .commentForm, .inputContainer, .inputSubContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside, .post, .commentForm, .inputSubContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogContainer aside {
  background-color: #220303;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  height: 50%;
  margin: 350px 100px 0 75px;
}
.blogContainer aside .asideImage {
  position: relative;
  right: 80px;
  top: -20px;
  width: 110%;
}
.blogContainer aside .asideText {
  padding: 0 0 30px 30px;
}
.blogContainer aside .asideText a {
  color: #ff8327;
  font-size: 1.95rem;
  line-height: 1.5rem;
}
.blogContainer aside .asideText ul {
  color: #bf2603;
  list-style: disc;
  padding-left: 30px;
}
.blogContainer aside .asideText ul p {
  color: #ffffff;
  font-size: 1.95rem;
}
.blogContainer aside div {
  width: 80%;
}
.blogContainer .rightContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}
.blogContainer .rightContainer .post {
  -webkit-box-shadow: -5px 5px #ff8327;
          box-shadow: -5px 5px #ff8327;
  position: relative;
  top: 30px;
}
.blogContainer .rightContainer .post .blogMainImage {
  -webkit-box-shadow: -20px 20px #ff8327;
          box-shadow: -20px 20px #ff8327;
  left: 15px;
  position: relative;
  top: -25px;
}
.blogContainer .rightContainer .post .postText {
  padding: 110px 100px 80px;
}
.blogContainer .rightContainer .post .postText h3 {
  color: #ff8327;
  font-size: 1.95rem;
  margin: -10px 0 20px;
}
.blogContainer .rightContainer .post .postText p {
  margin-bottom: 30px;
}
.blogContainer .commentsContainer {
  margin: 80px auto;
  width: 85%;
}
.blogContainer .commentsContainer h2 {
  margin: 0 0 0 10px;
}
.blogContainer .commentsContainer .comment {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px 0;
}
.blogContainer .commentsContainer .comment .profileImage {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
}
.blogContainer .commentsContainer .comment .commentText {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  margin: -15px 0 0 20px;
}
.blogContainer .commentsContainer .comment .commentText h3 {
  color: #ff8327;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}
.blogContainer .commentsContainer .commentForm {
  width: 95%;
}
.blogContainer .commentsContainer .commentForm .inputContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}
.blogContainer .commentsContainer .commentForm .inputContainer .inputSubContainer {
  width: 45%;
}
.blogContainer .commentsContainer .commentForm .inputContainer .inputSubContainer label {
  margin-left: 20px;
}
.blogContainer .commentsContainer .commentForm .inputContainer .inputSubContainer input {
  background-color: #111010;
  border: none;
  border-bottom: 1px solid #ff8327;
  width: 100%;
}
.blogContainer .commentsContainer .commentForm .messageBox {
  background-color: #111010;
  border: 1px solid #ff8327;
  height: 225px;
  padding: 25px 20px;
}
.blogContainer .commentsContainer .commentForm .messageBox::-webkit-input-placeholder {
  color: #ffffff;
}
.blogContainer .commentsContainer .commentForm .messageBox::-moz-placeholder {
  color: #ffffff;
}
.blogContainer .commentsContainer .commentForm .messageBox:-ms-input-placeholder {
  color: #ffffff;
}
.blogContainer .commentsContainer .commentForm .messageBox::-ms-input-placeholder {
  color: #ffffff;
}
.blogContainer .commentsContainer .commentForm .messageBox::placeholder {
  color: #ffffff;
}

footer {
  position: relative;
}

.contact {
  background: url(./../assets/contact-header-1.jpg) center;
  background-size: cover;
  height: 50vh;
  margin-bottom: -180px;
}
.contact h1 {
  font-family: "Chathura", sans-serif;
  font-size: 6.7rem;
  font-weight: normal;
  margin: 150px 0 0 70px;
}
.contact .desktopNav li:nth-of-type(5) a {
  color: #ff8327;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 200px;
  width: 90%;
}
.contactContainer .contactInfoContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 75px;
  width: 25%;
}
.contactContainer .contactInfoContainer span {
  display: block;
}
.contactContainer .contactInfoContainer a {
  color: #ffffff;
}
.contactContainer .contactInfoContainer a:hover, .contactContainer .contactInfoContainer a:focus {
  color: #ff8327;
}
.contactContainer .contactInfoContainer .email {
  margin: 20px 0;
}
.contactContainer .contactInfoContainer .socialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}
.contactContainer .contactForm {
  background-color: #220303;
  -webkit-box-shadow: 25px 25px #ff8327;
          box-shadow: 25px 25px #ff8327;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  width: 65%;
}
.contactContainer .contactForm .btn {
  margin: 0;
}
.contactContainer .contactForm .contactInputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}
.contactContainer .contactForm .contactInputContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  width: 48%;
}
.contactContainer .contactForm .contactInputContainer div label {
  margin-left: 30px;
}
.contactContainer .contactForm .contactInputContainer div input {
  background-color: #ffffff00;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-top: -30px;
}
.contactContainer .contactForm .contactMessage {
  background-color: #220303;
  border: 1px solid #ffffff;
  height: 250px;
  padding: 25px 20px;
  margin-bottom: 50px;
}
.contactContainer .contactForm .contactMessage::-webkit-input-placeholder {
  color: #ffffff;
}
.contactContainer .contactForm .contactMessage::-moz-placeholder {
  color: #ffffff;
}
.contactContainer .contactForm .contactMessage:-ms-input-placeholder {
  color: #ffffff;
}
.contactContainer .contactForm .contactMessage::-ms-input-placeholder {
  color: #ffffff;
}
.contactContainer .contactForm .contactMessage::placeholder {
  color: #ffffff;
}

/*=====================
GLOBALS
=======================*/
html {
  font-size: 125%;
}

body {
  background: #111010;
}

.btn {
  background-color: #bf2603;
  border: none;
  color: #ffffff;
  margin: 40px 0 50px;
  padding: 5px 35px;
}

.btn:hover,
.btn:focus {
  background-color: #ff8327;
}

.home, .blog, .contact {
  min-height: 620px;
}

a {
  position: relative;
  text-decoration: none;
}

nav a::after,
aside a:after {
  border-bottom: 1px solid #ff8327;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 40px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 0%;
}

a:hover::after,
a:focus::after {
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

.mainWrapper {
  margin: 0 auto;
  max-width: 1600px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*=====================
TYPOGRAPHY
=======================*/
body {
  color: #ffffff;
  font-family: "Chathura", sans-serif;
}

.btn {
  font-size: 2.3rem;
  font-weight: normal;
}

label,
textarea,
input {
  color: #ffffff;
  font-size: 1.95rem;
  font-weight: normal;
  letter-spacing: 0.095rem;
}

h1,
.logo,
.btn {
  font-family: "Tulpen One", cursive;
}

h1 {
  letter-spacing: 0.12rem;
}
h1 span {
  color: #ffffff;
  font-family: "Chathura", sans-serif;
  font-size: 4.16rem;
  letter-spacing: 0.13rem;
  line-height: 4.735rem;
}

.home h1 {
  color: #ff8327;
  font-size: 13.07rem;
  font-weight: normal;
}

h2 {
  font-size: 3.6rem;
  line-height: 2.9rem;
  letter-spacing: 0.11rem;
  margin: 0;
}

.logo {
  font-size: 4rem;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

p,
.email a {
  font-size: 1.95rem;
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
  margin: 0;
}

.desktopNav li a, .mobileNavDropdown a {
  color: #ffffff;
  font-size: 1.9rem;
  line-height: 1.45rem;
  letter-spacing: 0.095rem;
  text-align: center;
}

/*=====================
HEADER
=======================*/
.mobileNav {
  display: none;
}

.desktopNav li:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  width: 75%;
}

header {
  margin-bottom: 200px;
}

.home {
  background: url("./../assets/home-image-1.jpg") center;
  background-size: cover;
  height: 700px;
}
.home h1 {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 220px 0 0 0;
  z-index: 5;
}
.home h1 span {
  display: block;
  margin: -70px 6px;
}
.home li:nth-of-type(1) a {
  color: #ff8327;
}

.headerImgBox {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -270px;
}

.titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobileNavDropdown {
  background: linear-gradient(60deg, #00000091, #333333a6, #00000091);
  height: 1px;
  width: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  -webkit-transition: height 0.5s, width 0.5s, opacity 0.5s;
  transition: height 0.5s, width 0.5s, opacity 0.5s;
}
.mobileNavDropdown li {
  margin: 20px 0 20px 20px;
}

/*=====================
Main
=======================*/
.centered,
.flexContainer,
.rightTextContainer,
.leftTextContainer,
.textContainer,
.events,
.textContent,
.gallery,
.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colouredBackground,
.rightTextContainer,
.leftTextContainer,
.textContent {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*=====================
ABOUT
=======================*/
.flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px auto;
  width: 80%;
}

.textContainer {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 40px 0;
  width: 50%;
}

.textContainer .fas {
  background: #bf2603;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 20px 0 0;
  padding: 0.5rem;
  text-align: center;
}
.textContainer .fa-file {
  padding: 0.5rem 0.65rem;
}

/*=====================
PLANNING
=======================*/
.colouredBackground {
  background-color: #220303;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

.imageLeft,
.imageRight {
  position: absolute;
  width: 40%;
}

.imageLeft {
  margin-bottom: 75px;
  top: -30px;
}
.imageLeft img {
  -webkit-box-shadow: 25px 25px #ff8327;
          box-shadow: 25px 25px #ff8327;
}

.imageRight {
  bottom: -30px;
  right: 0;
}
.imageRight img {
  -webkit-box-shadow: -25px 25px #ff8327;
          box-shadow: -25px 25px #ff8327;
}

.rightTextContainer,
.leftTextContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
}

.leftTextContainer {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 115px 25px;
  text-align: end;
}

.rightTextContainer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 100px 115px 50px;
}

/*=====================
EVENTS
=======================*/
.centered {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto 100px;
  text-align: center;
  width: 70%;
}

.colouredHeader {
  color: #ff8327;
  margin: 30px;
}

.events {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px auto;
  width: 80%;
}

.smallLeftImage img {
  -webkit-box-shadow: -25px 25px #ff8327;
          box-shadow: -25px 25px #ff8327;
}

.textContent {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 95px;
  width: 65%;
}
.textContent h2 {
  margin: -15px 0 5px;
}

/*=====================
GALLERY
=======================*/
.gallery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryContainer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px 0;
  width: 88%;
}
.galleryContainer img {
  width: 30%;
}

/*=====================
FOOTER
=======================*/
footer {
  background-color: #252525;
  margin: 0;
  text-align: center;
}
footer p {
  line-height: normal;
}

/*=====================
MEDIA QUERIES
=======================*/
@media (max-width: 1000px) {
  .home {
    margin-bottom: 60%;
  }

  .headerImgBox {
    width: 100%;
    margin-top: 0;
  }
}
/*=====================
BLOG
=======================*/
@media (max-width: 920px) {
  .blog {
    margin-bottom: 0;
  }
  .blog h1 {
    margin: 100px 0;
    text-align: center;
  }

  .blogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogContainer aside {
    margin: 0;
  }
  .blogContainer aside .asideImage {
    margin: 50px auto;
    position: unset;
    width: 50%;
  }
  .blogContainer aside div:nth-of-type(2) {
    text-align: center;
  }
  .blogContainer aside .asideText {
    padding: 0;
    margin: 0 auto 20px;
    width: 80%;
  }
  .blogContainer aside .asideText h2 {
    text-align: center;
  }
  .blogContainer aside .asideText ul {
    margin: 0 auto;
    widtH: 40%;
  }

  /*=====================
  CONTACT
  =======================*/
  .contactContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactContainer .contactInfoContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 100px;
    text-align: center;
    width: 100%;
  }
  .contactContainer .contactInfoContainer .socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
  .contactContainer .contactInfoContainer .socialIcons ul {
    width: 100%;
  }
  .contactContainer .contactForm {
    width: 90%;
  }
}
@media (max-width: 800px) {
  /*=====================
  NAV
  =======================*/
  .desktopNav {
    display: none;
  }

  .flexContainer,
.textContainer,
.mobileNav,
.rightTextContainer,
.colouredBackground,
.leftTextContainer,
.textContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px 0;
  }
  .mobileNav .logo {
    font-size: 2.5rem;
  }
  .mobileNav .fas:hover,
.mobileNav .fas:focus {
    color: #ff8327;
  }
  .mobileNav .fas:hover ~ .mobileNavDropdown, .mobileNav .fas:focus ~ .mobileNavDropdown, .mobileNav .fas:focus-within ~ .mobileNavDropdown, .mobileNav .mobileNavDropdown:focus-within {
    height: 100%;
    width: calc(25% + 40px);
    opacity: 100;
  }
  .mobileNav .fas:hover .fas {
    content: "+";
  }

  /*=====================
  MAIN
  =======================*/
  .textContainer {
    width: 100%;
  }
  .textContainer h2 {
    text-align: center;
  }

  .flexContainer,
.textContainer,
.events,
.galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .rightTextContainer,
.leftTextContainer,
.textContent,
.centered,
.imageRight,
.imageLeft {
    width: 80%;
  }

  .rightTextContainer {
    -ms-flex-item-align: unset;
        align-self: unset;
  }

  .rightTextContainer,
.leftTextContainer {
    margin: 50px 0;
  }

  .leftTextContainer {
    -ms-flex-item-align: unset;
        align-self: unset;
    text-align: left;
  }

  .imageRight {
    right: unset;
  }

  .imageLeft {
    margin-bottom: unset;
  }

  .events {
    width: 100%;
  }

  .galleryContainer img {
    width: 90%;
    margin: 30px auto;
  }

  .imageRight,
.imageLeft {
    position: relative;
  }

  .smallLeftImage {
    width: 50%;
    margin: 100px auto;
  }

  .textContent {
    margin: 0 auto;
  }

  .centered {
    text-align: left;
  }
  .centered h2 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .home {
    margin-bottom: 40%;
  }
  .home h1 {
    font-size: 10rem;
  }
  .home h1 span {
    font-size: 3rem;
  }

  /*=====================
  BLOG
  =======================*/
  .blogContainer aside .asideText ul {
    width: 90%;
  }
  .blogContainer .rightContainer .post .blogMainImage {
    left: 0px;
  }
  .blogContainer .rightContainer .post .postText {
    padding: 20px;
  }
  .blogContainer .commentsContainer .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContainer .commentsContainer .comment .profileImage {
    margin: 30px 0;
    width: 30%;
  }
  .blogContainer .commentsContainer .comment .commentText {
    margin: 0;
  }
  .blogContainer .commentsContainer .commentForm .commentLabel {
    top: 315px;
  }
  .blogContainer .commentsContainer .commentForm .inputContainer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogContainer .commentsContainer .commentForm .inputContainer .inputSubContainer {
    margin-top: 20px;
    width: 100%;
  }

  /*=====================
  CONTACT
  =======================*/
  .contact h1 {
    margin: 150px 0;
    font-size: 5rem;
    text-align: center;
  }

  .contactContainer .contactForm {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 20px;
  }
  .contactContainer .contactForm .contactInputContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .contactForm .contactInputContainer div {
    width: 100%;
  }
  .contactContainer .contactForm .messageLabel {
    top: 320px;
  }
}
@media (max-width: 400px) {
  .home {
    margin-bottom: 30%;
  }
  .home h1 {
    font-size: 8rem;
  }
  .home h1 span {
    font-size: 2.5rem;
  }

  .colouredHeader {
    margin: 10px 0;
  }
}